.user-card {
  margin: 15px;
  border: 3px solid #BBBDF2;
  border-radius: 4px;
  height: 400px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

p {

  margin: 15px;
  text-align: center;
}

h3 {
  margin: 15px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #3876F2;
  color: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
  margin: 15px;
}
